@import url(./__background-image/news-card__background-image.css);
@import url(./__card-content/news-card__card-content.css);
@import url(./__wrap/news-card__wrap.css);
@import url(./__date/news-card__date.css);
@import url(./__title/news-card__title.css);
@import url(./__text/news-card__text.css);
@import url(./__source/news-card__source.css);

.news-card {
  font-family: 'Roboto', Arial, sans-serif;
  background: #FFF;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .news-card {
    width: 400px;
    height: 576px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .news-card {
    width: 394px;
    height: 570px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .news-card {
    width: 224px;
    height: 420px;
  }
}

@media screen and (max-width: 767px) {
  .news-card {
    width: 288px;
    height: 446px;
  }
}
