.footer__copyright {
  color: #B6BCBF;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  order: 1;
/*   margin-top: 3px;
  margin-bottom: 0; */
  /*margin: 33px auto 25px 104px;*/
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    order: 4;
    flex-basis: 731px;
  }
}
