@import url(./_selected-white/header__link_selected-white.css);
@import url(./_selected-black/header__link_selected-black.css);
@import url(./_unselected-white/header__link_unselected-white.css);
@import url(./_unselected-black/header__link_unselected-black.css);

.header__link {
  font-style: normal;
  font-weight: 500;
/*   font-size: 18px; */
  line-height: 24px;
  text-decoration: none;
  /* margin-right: 34px; */
  /* padding-bottom: 27px; */
}

.header__link:last-of-type {
  margin-right: 0;
}

@media screen and (min-width: 1440px) {
  .header__link {
    font-size: 18px;
    margin-right: 34px;
    padding-bottom: 27px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .header__link {
    font-size: 18px;
    margin-right: 34px;
    padding-bottom: 19px;
  }
}

@media screen and (max-width: 767px) {
  .header__link {
    font-size: 16px;
    margin-right: 11px;
    padding-bottom: 17px;
  }
}
