.cards-list {
  display: grid;
/*   grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 16px 16px; */
  justify-content: center;
}

@media screen and (min-width: 1440px) {
  .cards-list {
    grid-template-columns: repeat(auto-fill, 400px);
    grid-gap: 16px 16px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .cards-list {
    grid-template-columns: repeat(auto-fill, 394px);
    grid-gap: 8px 8px;
  }
}

/* @media screen and (min-width: 1000px) and (max-width: 1279px) {
  .cards-list {
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 8px 8px;
  }
} */

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .cards-list {
    grid-template-columns: repeat(auto-fill, 224px);
    grid-gap: 8px 8px;
  }
}

@media screen and (max-width: 767px) {
  .cards-list {
    grid-template-columns: repeat(auto-fill, 288px);
    grid-gap: 8px 8px;
  }
}

