@import url(./__circle/preloader__circle.css);
@import url(./__caption/preloader__caption.css);

.preloader {
  background: #F5F6F7;
  min-width: 282px;
  display: flex;
  justify-content: center;
  flex-direction: column;
/*   padding: 80px 0; */
}

@media screen and (min-width: 1440px) {
  .preloader {
    padding: 80px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .preloader {
    padding: 40px 0;
  }
}

@media screen and (max-width: 767px) {
  .preloader {
    padding: 20px 0;
  }
}
