@import url(./__title/diagram__title.css);

.diagram {
  background: #F5F6F7;
}

@media screen and (min-width: 1440px) {
  .diagram {
    padding-top: 80px;
    padding-bottom: 116px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .diagram {
    padding-top: 40px;
    padding-bottom: 76px;
  }
}

@media screen and (max-width: 767px) {
  .diagram {
    padding-top: 24px;
    padding-bottom: 38px;
  }
}
