/* .news-card__card-content {

} */

@media screen and (min-width: 1440px) {
  .news-card__card-content {
    padding: 20px 24px 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .news-card__card-content {
    padding: 16px;
  }
}

@media screen and (max-width: 767px) {
  .news-card__card-content {
    padding: 15px 16px 20px;
  }
}
