.about-author__image {
  border-radius: 1000px;
  max-width: 464px;
  max-height: 464px;
}

@media screen and (min-width: 1440px) {
  .about-author__image {
    width: 464px;
    height: 464px;
    margin-right: 56px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .about-author__image {
    max-width: 464px;
    max-height: 464px;
    min-width: 232px;
    min-height: 232px;
    width: calc(100% - 32px);
    margin-top: 21px;
    margin-right: 32px;
  }
}

@media screen and (max-width: 767px) {
  .about-author__image {
    max-width: 515px;
    max-height: 515px;
    width: calc(100% - 16px);
    display: block;
    margin: 0 auto;
  }
}
