.diagram__title {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  margin-top: 0;
}

@media screen and (min-width: 1440px) {
  .diagram__title {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .diagram__title {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 49px;
  }
}

@media screen and (max-width: 767px) {
  .diagram__title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 16px;
  }
}
