@import url(./__title/technologies__title.css);
@import url(./__items-container/technologies__items-container.css);
@import url(./__item/technologies__item.css);
@import url(./__name/technologies__name.css);
@import url(./__logo/technologies__logo.css);

.technologies {
  background-color: #F5F6F7;
}

@media screen and (min-width: 1440px) {
  .technologies {
    padding: 80px 0 97px 0;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .technologies {
    padding: 40px 0 49px 0;
  }
}

@media screen and (max-width: 767px) {
  .technologies {
    padding: 32px 0 48.5px 0;
  }
}
